.about{
  background-color: $background-light;
  &_blackout{
    background: rgba(41, 41, 41, 0.6);;
  }
}
.about__container{
  padding: 80px 0 100px 0;
  @include flexBlockWrap();
  justify-content:center;
  gap: 120px;
  @include tablet{
    padding: 58px 0 100px 0;
    gap: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  @include response($min:478px,$max:767px){
    padding-top: 55px;

  }
  @include mobile{
    padding: 6px 0 40px 0;
    gap: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.about__image{
  display: flex;
  justify-content: center;
  img{
    margin: auto;
  }
  @include tablet{
    margin-top: 80px;
  }
  @include mobile{
    margin-top: 25px;
    img{
      max-width: 260px;
    }
  }
}

.about__content{
  margin: 14px 0;
  @include tablet{
    margin: 0;
  }
}