.donation{
  background-color: $background-grey; 
}

.donation__container{
  max-width: 915px;
  margin: auto;
  padding: 79px 0 102px;
  @include flexBlockWrap();
  @include tablet{
    padding-top: 80px;
    padding-bottom: 97px;
    flex-direction: column-reverse;
    align-items: center;
  }
  @include mobile{
    max-width: 300px;
    padding-top: 42px;
    padding-bottom: 18px;
    flex-direction: column-reverse;
  }
}

.donation__dog{
  margin-top: 12px;
  @include tablet{
    margin-top: 61px;
  }
  @include mobile{
    margin: 22px auto;
    & img{
      max-width: 260px;
    }
  }
    }

.donation__card{
  margin-left: 30px;
  @include tablet{
    margin-left: 0;
  }
  @include mobile{
    margin-left: 0;
  }
}
.donation__note{
  margin-top: 20px;
}