//colors
$background-light:rgba(255, 255, 255, 1);
$background-grey:rgba(246, 246, 246, 1);
$background-card-hover:rgba(250, 250, 250, 1);
$pagination-active:rgba(253, 220, 196, 1);
$grey-pagination-border:rgba(205, 205, 205, 1);
$color-primary:#F1CDB3;
$color-secondary:rgba(255, 255, 255, 1);
$color-secondary-hover:rgba(253, 220, 196, 1);
$colo-arrow-hover:rgba(253, 220, 196, 1);
$color-primary-light:rgba(253, 220, 196, 1);
$color-pagination-background:rgba(241, 205, 179, 1);
$color-light-xl :#FFFFFF;
$color-light-s:#FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l: #545454;
$color-dark-xl:#4C4C4C;
$color-dark-3xl:#292929;
$background-gradient:radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
//spacings
$line-head130:130%;
$line-head160:160%;
$line-head115:115%;
$letter-spacing0_6:0.06em;
//animation
$transition2:.2s;
//break points
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;
//content-width
$content-width:1200px;
//offsets
$desktop-wrapper-offsets:40px;
