  .card{
    max-width: 380px;
  }
  .card__title{
    max-width: 300px;
    text-align: left;
    @extend %font-primary;
    @include  font($size:3.5rem, $height: $line-head130, $spacing: $letter-spacing0_6, $color: $color-dark-l);
    @include mobile{
      font-size: 2.5rem;
      text-align: center;
      & span{
        display: block;
      }
    }
  }

  .card__subtitle{
    margin: 20px 0;
    @extend %font-primary;
    @include font($size: 1.5rem, $height: $line-head115, $spacing:$letter-spacing0_6, $color: $color-dark-l);
  
    @include mobile{
      width: 273px;
      margin: 20px auto;
      line-height: $line-head160;
      letter-spacing: 0;
    }
  }

.card__card-num{
  @include response($min:315px, $max:320px){
    margin-left: 9px;
  }
}
